.why-us {
  margin-top: 386px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include margin-side;
  }
  &__head {
    max-width: 800px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__text {
    margin-bottom: 140px;
  }
  &__cards {
    display: flex;
    gap: 20px;
    @include mobile {
      flex-direction: column;
      gap: 72px;
    }
  }
  &__inner {
    position: relative;
    &::after {
      content: url("../../static/bg-08.png");
      position: absolute;
      top: -800px;
      right: -900px;
      z-index: -100;
    }
  }
}
.why-us--card {
  @include card;
  padding: 16px;
  max-width: 392px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
}

@for $i from 1 to 4 {
  .why-us--card:nth-child(#{$i}) {
    position: relative;
    &::before {
      content: url("../../static/icons/icon#{$i}.svg");
      width: 60px;
      aspect-ratio: 1;
      position: absolute;
      left: -2px;
      top: -60px;
    }
  }
}
