:root {
  --background-color: #000;
  --text-primary: #fff;
  --text-secondary: #d1d1d1;
  --surface-color: #40ffe4;
  --card-background-color: rgba(19, 19, 19, 0.6);
  --section-margin-top: 260px;
  --section-margin-side: 16px;
}
